{% include "company_dashboard/header.html" %}
			
		  <div class="hero-wrap">
	    <div class="home-slider owl-carousel">
	      <div class="slider-item" 
		  
		  style="background-image: url('{{ url_for('static', filename='images/bg_1.jpg') }}');">
		   
	      	<div class="overlay"></div>
	        <div class="container">
	          <div class="row no-gutters slider-text align-items-center justify-content-end">
		          <div class="col-md-6 ftco-animate">
		          	 
		          </div>
		        </div>
	        </div>
	      </div>

	      <div class="slider-item" 
		  style="background-image: url('{{ url_for('static', filename='images/bg_2.jpg') }}');">
		   
	      	<div class="overlay"></div>
	        <div class="container">
	          <div class="row no-gutters slider-text align-items-center justify-content-end">
		          <div class="col-md-6 ftco-animate">
		          	 
		          </div>
		        </div>
	        </div>
	      </div>
	    </div>
	  </div>

{% include "company_dashboard/footer.html" %}
  