{% include "header.html" %}
<!-- Titlebar
================================================== -->
<section id="titlebar">
	<!-- Container -->
	<div class="container">
	
		<div class="eight columns">
			<h3 class="left">Contact</h3>
		</div>
		
		 

	</div>
	<!-- Container / End -->
</section>

  <!-- Content -->
  <div id="content">
    <div class="container">
	
	<table width="100%" >
	<tr>
	<td>

            <p>Email: <a href="#">Info@Onlinejobportal.com</a></p>
			<h3>Website:WWW.Onlinejobportal.com</h3>
			Mobile Number : 8825786702
		   </td>
		   <td> <img src="{{ url_for('static', filename='images/contact.png')}}" width="50%">
			 
		   <td>
		   </tr>
		   </table>
 
 

      <div class="row">
        <div class="span12">  
            	
        		 
    
        	
                          
  <!-- Content End -->
  </div> </div> </div> </div> </div> </div> </div>
  
  {% include "footer.html" %}
  