{% include "jobseeker_dashboard/header.html" %}

<!-- Titlebar
================================================== -->
<section id="titlebar">
    <div class="container">
        <h3>Short List Report</h3>
    </div>
</section>

<div class="container">

<div class="table-card">

<table class="custom-table">

<thead>
<tr>
    <th>ID</th>
    <th>Company</th>
    <th>Skill</th>
    <th>Name</th>
    <th>Qualification</th>
    <th>Experience</th>
    <th>Status</th>
</tr>
</thead>

<tbody>
{% for row in account %}
<tr>
   <td>{{ loop.index }}</td> 
    <td>{{ row.cname }}</td>
    <td>{{ row.skillset }}</td>
    <td>{{ row.name }}</td>
    <td>{{ row.qualification }}</td>
    <td>{{ row.experience }}</td>

    <td>
        {% if row.status == "Shortlisted" %}
            <span class="status-shortlisted">Shortlisted</span>
        {% else %}
            <span class="status-pending">Pending</span>
        {% endif %}
    </td>

</tr>
{% endfor %}
</tbody>

</table>

</div>

</div>

{% include "company_dashboard/footer.html" %}
  